@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&family=Source+Sans+Pro:wght@300;700&display=swap');

.font-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.font-nato-sans-sc {
  font-family: 'Noto Sans SC', sans-serif;
}

html{
  height: 101%;
}

body {
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #222222 40%, #333333 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color : #DDDDDD;
  font-family: 'ZCOOL XiaoWei', sans-serif;
}

nav a {
    color: #DDDDDD;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.logo {
  width: 180px;
  height: 100px;
}  
.main_img {
  width: 350px;
  height: 350px;
  float: right;
  margin-right: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.topnav ul li a{
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  width: fit-content;
  height: 30px;
  font-size: 12px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent; 
}

.topnav ul li a:hover {
  color: black;
  background-color: #ddd;
}

.topnav ul li a.active {
  color: black;
  background-color: #ddd;
}

.container {
    display: flex;
}

.sidenav {
  flex: 0 0 auto;  
  width: 30%;
  margin-left: 10px;
  margin-top: 30px;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sidenav ul li {
  padding: 1px 10px;
}

.sidenav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
}

.sidenav ul li a:hover {
  background-color: #AABBCC;
}

.sidenav ul li a.active {
  background-color: yellow;
  color: black;
}


nav {
    margin-right: 20px; /* adjust this value to your liking */
}
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 10px; /* adjust this value to your liking */
  }
  
  a {
    text-decoration: none;
    color: #333; /* or any color of your choice */
  }
  