.main_container {
    background-image: url('../images/main.png');
    opacity: 0.5;
    float: right;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: 500px;
}
  